* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  font-size: 100%;
  display: flex;
  flex-direction: column;
  background-color: #e7e8eb;
  transition: 0.5s, color 0.5s;
}

body.dark-mode {
  background-color: #000000;
  color: #e0e0e0;
}

body.dark-mode * {
  color: inherit;
  background-color: #1b1b1b;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6,
body.dark-mode p,
body.dark-mode span,
body.dark-mode div {
  color: inherit;
}

body.dark-mode a {
  color: #e0e0e0;
}

body.dark-mode a:hover {
  color: #ffffff;
}


