.navbar {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 9999px;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 1rem auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 2rem);
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.visible {
  transform: translateY(0) translateX(-50%);
}

.hidden {
  transform: translateY(-100%) translateX(-50%);
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0rem;
  margin: 0 auto;
}

.navLinks a {
  text-decoration: none;
  color: #333;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.navLinks a:hover {
  color: #007bff;
}

.themeToggle {
  cursor: pointer;
  font-size: 1.5rem;
}